/* 
reset 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-family: 'Roboto', sans-serif;
}


.container{
    
    margin: 0 auto;
}




/* 
header
 */



.header-container{
    width: 100%;
    height: 5vh;
    position: relative;
    background-color: black;
    
    

    
}

.button-container {
    height: 15px;
   
    
   
}



.button-header1 {
    color: white;
    display: flex;
    background-color: #777880;
    position: absolute;
    right: 2%;
    top: 0;
    
    
    
    
}

.button-header2 {
    color: white;
    background-color: #777880;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

    
}


/* 
main 
*/




.main-container{
    object-fit: cover;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
    background-color: black;
    position: relative;
    

    
  
}

.column {
    
    background-image: url("https://picsum.photos/id/237/141/94");
    background-size: cover;
    position: relative;
    width: calc((100% / 7) - 30px);
    margin: 5px;
}

.button-main{
    color: white;
    font-size: 8pt;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    left: 0;
    bottom: 0;
}



/* 
footer 
*/


.footer-container{
    height: 15vh;
    background-color: #424242;  
    height: 60px;
   
    
    
}

.my-row {
    display: flex;
    position: relative;
    
    
    
    
    
}

.row-1{
    width: calc(100% / 3);
    text-align: center;
    display: flex;
    
    padding: 10px 0;
}

.row-3{
    
    text-align: center;
    display: flex;
    
    
}

.row-2{  
    display: flex;
    padding: 10px 0;
   

}

.left{
    width: 40px;
    text-align: center;
    color: white;
    font-size: 15pt;
    
}

.left-2{
    width: 40px;
    text-align: center;
    color: white;
    font-size: 15pt;
    padding-left: 10px;
    
}


.than{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


span{
    display: block;
    color: white;
    font-size: 7pt;
    
    text-align: center;
   
    
}



.row-2{  
    display: flex;
    padding: 10px 0;
    
}


.center-icon{
    width: 40px;
    text-align: center;
    color: white;
    font-size: 15pt;
    
    
}


.share{
    width: 40px;
    text-align: center;
    color: lightgreen;
    font-size: 15pt;
    padding-left: 10px;
    
}

.end span{
    background-color: #777880;
    height: 54px;
    width: 90px;
    position: absolute;
    right: 0;
    color: red;  
    line-height: ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

